:root {
  --primary-color: #1e90ff !important;
  --light-text-color: #EEE !important;
  --background-color: #111 !important;
  --border-color: rgba(255, 255, 255, 0.175) !important;
  --text-color: #EEE !important;
}
