body {
    font-family: 'Roboto Flex', sans-serif;
}

.w-100 {
    width: 100%;
}

input {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px #ddd;
    box-sizing: border-box;
    display: inline-block;
    padding: .5em .6em;
    vertical-align: middle
  }

.card {
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 1em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.child--featured {
    flex-basis: 45%;
}

.main-profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    max-width: 10%;
}

.column-container {
    display: flex;
    flex-direction: column;
}