html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}

.profile img {
  max-width: 30vw;
}

.profile .informations {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  justify-content: center;
  font-weight: bold;
}

.profile .informations a {
  font-size: 0.8rem;
}

.stay-container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 2rem;
  border: 1px solid black;
  padding: 5px;
  max-height: 150px;
}

.stay-container .informations {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 2;
}

.stay-container .actions img {
  width: 100%;
  max-height: 80px;
  object-fit: cover;
}

.stay-container .actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  gap: 3px;
}

@media screen and (min-width: 720px) {
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .profile .informations {
    font-size: 1.5rem;
  }

  .stay-container .informations .name {
    font-size: 2rem;
  }

  .profile img {
    max-width: 150px;
  }
}
