<%- contentFor('pageHeaders') %>
<title> Room not found </title>
<link rel="stylesheet" href="/not_found.css">

<%- contentFor('body') %>
<div class="not-found">
  <h1>Whoops!</h1>
  <h2>We can't find the room you looking for</h2>
</div>
