<header class="navbar">
  <div class="navbar-inner">
    <h1 class="nav-logo">
      <a href="" class="logo-link">
        <img src="../logo_alugaste.jpg" alt="Dois telhados">
      </a>
    </h1>
    <label for="navbar-toggler" class="navbar-toggler">
      <i class="fas fa-bars"></i>
    </label>
    <input type="checkbox" id="navbar-toggler" class="navbar-toggler-check">
    <nav class="navbar-menu">
      <a href="" class="navbar-link">Pesquisar</a>
      <a href="" class="navbar-link">Seja um anfitrião</a>
      <a href="" class="navbar-link">Entrar</a>
      <a href="" class="navbar-link">Cadastre-se</a>
    </nav>
  </div>
</header>
