<header class="navbar">
  <div class="navbar-inner">
    <h1 class="nav-logo">
      <a href="/" class="logo-link">
        <img src="../logo_alugaste.jpg" alt="Dois telhados">
      </a>
    </h1>
    <label for="navbar-toggler" class="navbar-toggler">
      <i class="fas fa-bars"></i>
    </label>
    <input type="checkbox" id="navbar-toggler" class="navbar-toggler-check">
    <% if (locals.guestSignedIn) { %>
      <nav class="navbar-menu">
        <a href="/guest/profile" class="navbar-link">Minha Conta</a>
        <a href="/guest/logout" class="navbar-link">Logout</a>
      </nav>
    <% } else { %>
      <nav class="navbar-menu">
        <a href="/host/login" class="navbar-link">Seja um anfitrião</a>
        <a href="/guest/login" class="navbar-link">Entrar</a>
        <a href="/guest/register" class="navbar-link">Cadastre-se</a>
      </nav>
    <% } %>
  </div>
</header>
